# Yarn
.yarn/*
.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# linting/formatting
.eslintcache

# misc
.env
.DS_Store
Thumbs.db
*.log

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
